/* SLIDER */
.slider {
  max-width: 100rem;
  height: 50rem;
  margin: 0 auto;
  position: relative;

  /* IN THE END */
  overflow: hidden;
}

.slide {
  position: absolute;
  top: 0;
  width: 100%;
  height: 50rem;
  margin-top: 4rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;

  /* THIS creates the animation! */
  transition: transform 1s;
}

.stars__container {
  margin-bottom: 5rem;
  width: fit-content;
  display: flex;
  justify-content: center;
}



.reviews__star span {
  height: 4rem;
  width: fit-content;
  margin-right: 2px;
  font-size: 5rem;
  cursor: pointer;
  /* color: white; */
}
.star--small > span{
font-size: 3rem !important;
}

.reviews__star--active > span {
  fill: #55c57a;
  color: yellow;
}
.reviews__star--inactive > span {
  color: #bbb;
}

.slide > img {
  /* Only for images that have different size than slide */
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider__btn {
  position: absolute;
  top: 50%;
  z-index: 10;

  border: none;
  background: rgba(255, 255, 255, 0.7);
  font-family: inherit;
  color: #333;
  border-radius: 50%;
  height: 5.5rem;
  width: 5.5rem;
  font-size: 3.25rem;
  cursor: pointer;
}

.slider__btn--left {
  left: 6%;
  transform: translate(-50%, -50%);
}

.slider__btn--right {
  right: 6%;
  transform: translate(50%, -50%);
}

.dots {
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.dots__dot {
  border: none;
  background-color: #b9b9b9;
  opacity: 0.7;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  margin-right: 1.75rem;
  cursor: pointer;
  transition: all 0.5s;

  /* Only necessary when overlying images */
  /* box-shadow: 0 0.6rem 1.5rem rgba(0, 0, 0, 0.7); */
}

.dots__dot:last-child {
  margin: 0;
}

.dots__dot--active {
  /* background-color: #fff; */
  background-color: #888;
  opacity: 1;
}

/* TESTIMONIALS */
.testimonial {
  width: 65%;
  position: relative;
  color: white;
}

.testimonial::before {
  /* content: "\201C"; */
  position: absolute;
  top: -5.7rem;
  left: -6.8rem;
  line-height: 1;
  font-size: 20rem;
  font-family: inherit;
  color: var(--color-primary);
  z-index: -1;
}

.testimonial__header {
  font-size: 2.25rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
}

.testimonial__text {
  font-size: 2.25rem;
  font-weight: 500;
  margin: 2rem;
  margin-bottom: 3.5rem;
}

.testimonial__author {
  margin-left: 3rem;
  font-style: normal;

  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 2rem;
}

.testimonial__photo {
  grid-row: 1 / span 2;
  width: 12rem;
  border-radius: 50%;
}

.testimonial__name {
  font-size: 1.7rem;
  font-weight: 500;
  align-self: end;
  margin: 0;
}

.hidden {
  display: none;
}

/* ACCOUNT PAGE ///////////// */

.user-view {
  background-color: #fff;
  max-width: 120rem;
  margin: 0 auto;
  min-height: 100vh;
  border-radius: 3px;
  overflow: hidden;
  -webkit-box-shadow: 0 2.5rem 8rem 2rem rgba(0, 0, 0, 0.07);
  box-shadow: 0 2.5rem 8rem 2rem rgba(0, 0, 0, 0.07);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.user-view__menu {
  -webkit-box-flex: 32rem;
  -ms-flex: 32rem 0 0px;
  flex: 32rem 0 0;
  background-image: -webkit-gradient(
    linear,
    left top,
    right bottom,
    from(#7dd56f),
    to(#28b487)
  );
  background-image: linear-gradient(to right bottom, #7dd56f, #28b487);
  padding: 4rem 0;
}
.user-view__content {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 7rem 0;
}
.user-view__form-container {
  max-width: 80rem;
  margin: 0 auto;
  padding: 0 4rem;
}

.user-view__review-container {
  max-width: 80rem;
  margin: 0;
  padding: 0 4rem;
  position: relative;
}


.review-edit-modal {
  /* position: fixed to always pop up in middle of */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70rem;
  height: 45rem;
  margin: 1vh auto;
  z-index: 9999;
  background-color: white;
  -webkit-box-shadow: 0 2.5rem 8rem 2rem rgba(0, 0, 0, 0.06);
  box-shadow: 0 2.5rem 8rem 2rem rgba(0, 0, 0, 0.06);
  padding: 5rem 7rem;
  border-radius: 5px;
  transition: all 0.6s linear;
  overflow: hidden;
}

.modal-is-open {
  overflow: hidden;
}

.is-blurred {
  filter: blur(2px);
  -webkit-filter: blur(2px);
  z-index: 1;
}

#review-text-edit {
  height: 10em;
  width: 100%;
  padding: 5px;
}

.my-reviews {
  background: linear-gradient(to right bottom, #7dd56f, #28b487);
  clip-path: polygon(0 1vw, 100% 0, 100% 95%, 0 100%);
  -webkit-clip-path: polygon(0 1vw, 100% 0, 100% 95%, 0 100%);
  
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  height: fit-content;
  padding: 4rem 4rem 8rem 4rem;
  
}

.my-reviews__info{
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.my-reviews__card {
  width: 40rem;
  height: 30rem;
  padding: 4rem;
  
  background-color: #f7f7f7;
  border-radius: 3px;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  scroll-snap-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}


/*  ACCOUNT PAGE  */
